
.paginationContent{
    display: flex;
    list-style: none;
    
}
.eachPage{
    background-color: #0078d7;
   
    
    /* display: flex; */
    margin-right: 10px;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    border: 1px solid blue ;
    border-radius: 30px;
    cursor: pointer;
 
    
}
.activePage{
    background-color: white;
    color: blue;
}
.activePage .pageLink{
    color: blue;
}
.pageLink{
    text-decoration: none;
    display: flex;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.disabledPage{
    border: 1px solid #dcdcdccf;
    background-color: #F5F5F5;
}

.disabledPageLink{
    color: #dcdcdccf
}
